html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.colors{
  /* #9b0000; */
  /* light green: #009B9B #009B00 */
  color: #15255b
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.image{
  object-position: 90% 10%;
}
.dtext:hover{
  transform: translateY(-5px);
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  color: #9b0000;
}
.active .line{
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.3s;
  animation-name: fadeInLeft;
}

.image{
  background-image: url('/img-2.jpg');
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
